@font-face {
  font-family: "Fira Code", "Montserrat";
  src: url(../assets/fonts/Montserrat-Medium.ttf) format("ttf"),
    url(../assets/fonts/FiraCode-Regular.ttf) format("ttf");
}



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navigation {
  background-color: #000;
  width: 100%;
  height: 69px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  img {
    margin: 10px;
  }
  .menu {
    min-width: auto;
    margin: 15px;
    font-family: "Montserrat";
  }
}
.hamburger {
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  margin: 0 auto;

  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.menu-list {
  display: block;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  z-index: 98;
  background-color: #000;
  margin-top: 65px;
  transition: 0.4s;
  a {
    color: #fff;
    display: block;
    text-align: left;
    // margin-bottom: 25px;
    // padding: 12px 16px;
    background-color: #000;
    width: fit-content;
    width: 100%;
    max-width: 200px;
    margin: 50px 100px 60px;
    font-size: 28px;
    text-decoration: none;
  }
  a:hover {
    color: rgb(124, 124, 124);
  }
  a:active {
    color: rgb(255, 255, 255);
  }
}

.menu-list.is-active {
  left: 0;
}

// Working with the header.
header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Fira Code";
  line-height: 28px;
  letter-spacing: -0.1em;
}
section {
  display: inline-block;
  margin-top: 70px;
  .profile-image {
    margin: 0 auto;
    width: 80%;
    min-width: 200px;
    max-width: 480px;
    display: flex;
    justify-content: center;
    padding: 20px 50px 20px;
    .picture {
      border-radius: 60%;
      width: 100%;
      height: auto;
      border: 3px solid rgb(102, 102, 102);
      // max-width: 600px;
    }
  }
  .header-name {
    width: 200px;
    text-align: center;
    margin: 0 auto;
    font-size: 32px;
  }
  .description {
    width: 90%;
    margin: 10px auto;
  }
  p {
    text-align: center;
    font-size: 20px;
  }
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: Helvetica, sans-serif;
  .project, .blog {
    text-align: left;
    padding: 20px;
    width: 80%;
    max-width: 900px;
    height: 300px;
    margin: 15px auto 10px;
    border: 1px solid rgb(139, 139, 139);
    display: flex;
    justify-content: center;
    flex-direction: column;
    .text {
      color: white;
      text-align: initial;
      margin-top: 150px;
      padding: 20px;
      background-color: #000;
      opacity: .6;
      height: auto;
      transition: opacity .7s;
      &:hover {
        opacity: 1;
    } 
    .hide { 
      display: none;
    }
    }
    .img-blog {
      width: 100%;
      height: auto;
      min-height: 200px;
      background-image: url("https://www.leisa-al.org/web/images/stories/noticias/2017/diciembre/arbol1.jpg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

footer {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: #000;
  width: 100%;
  
  height: 200px;
  font-size: 18px;
  .social-media {
    display: flex;
    flex-direction: column;
    a {
      text-decoration: none;
      color: #fff;
      margin: 20px;
    }
  }
  .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;

    a {
      text-decoration: none;
      color: #fff;
      margin: 20px;
    }
  }
}
